@font-face {
  font-family: "Source Code Pro";
  font-weight: 200 900;
  font-style: normal;
  font-stretch: normal;
  
}
:root {
  --ct-text-size: 12px;
  --ct-line-height: 1.6;
  --ls-font-family: "Cantarell";
  --ct-page-title-font-family: var(--ls-font-family);
  --ct-code-font-family: "Cantarell";
}
